.DS_Store
/.direnv/
/target/
/result

# Ignore keymap-drawer output for now
draw/skeletyl.svg
draw/skeletyl.yaml
draw/base.svg
draw/base.yaml

# Devenv
.devenv*
devenv.local.nix

# pre-commit
.pre-commit-config.yaml
