# Copyright (c) 2026 Charly Delay
# SPDX-License-Identifier: MIT

if SHIELD_SKELETYL_STUDIO

# Max 16 characters in keyboard name.
config ZMK_KEYBOARD_NAME
    default "Skeletyl"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

# Number of peripherals the dongle has.
# For a unibody, this is 1. If you have left and right halves, this is 2, etc.
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

# Set this to ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS + your desired number of BT profiles (default is 5)
config BT_MAX_CONN
    default 5

# Set this to the same number as BT_MAX_CONN
config BT_MAX_PAIRED
    default 5

endif

if SHIELD_SKELETYL_STUDIO_LEFT

config ZMK_KEYBOARD_NAME
    default "Skeletyl L"

config ZMK_SPLIT
    default y

endif

if SHIELD_SKELETYL_STUDIO_RIGHT

config ZMK_KEYBOARD_NAME
    default "Skeletyl R"

config ZMK_SPLIT
    default y

endif
