# Copyright (c) 2026 Charly Delay
# SPDX-License-Identifier: MIT

if SHIELD_CYGNUS_STUDIO

# Max 16 characters in keyboard name
config ZMK_KEYBOARD_NAME
    default "Cygnus"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

# Number of peripherals the dongle has
# For a unibody, this is 1. If you have left and right halves, this is 2, etc.
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

# Set this to ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS + your desired number of BT profiles (default is 5)
config BT_MAX_CONN
    default 3

# Set this to the same number as BT_MAX_CONN
config BT_MAX_PAIRED
    default 3

endif

if SHIELD_CYGNUS_STUDIO_LEFT

config ZMK_KEYBOARD_NAME
    default "Cygnus L"

config ZMK_SPLIT
    default y

endif

if SHIELD_CYGNUS_STUDIO_RIGHT

config ZMK_KEYBOARD_NAME
    default "Cygnus R"

config ZMK_SPLIT
    default y

endif
