/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define LOWER 1
#define UPPER 2
#define ADJUST 3
#define SYSTEM 4

#define LAUNCHER (LG(SPACE))
#define CTL_TAB (LC(TAB))
#define RCS_TAB (LC(LS(TAB)))

&sk {
  release-after-ms = <2000>;
  quick-release;
};

/ {

  chosen {
    zmk,battery = &vbatt;
  };

  vbatt: vbatt {
      compatible = "zmk,battery-nrf-vddh";
      label = "VBATT";
  };

  conditional_layers {
      compatible = "zmk,conditional-layers";
      tri_layer {
          if-layers = <1 2>;
          then-layer = <3>;
      };
  };

  macros {
    arrow: arrow {
      label = "Arrow";
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&macro_tap &kp MINUS &kp GT>;
    };
    fat_arrow: fat_arrow {
      label = "Fat_Arrow";
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&macro_tap &kp EQUAL &kp GT>;
    };
  };

  combos {
      compatible = "zmk,combos";
      combo_caps_word {
          timeout-ms = <25>;
          key-positions = <2 7>;
          bindings = <&caps_word>;
      };
      combo_arrow {
          timeout-ms = <25>;
          key-positions = <6 7>;
          bindings = <&arrow>;
      };
      combo_fat_arrow {
          timeout-ms = <25>;
          key-positions = <2 3>;
          bindings = <&fat_arrow>;
      };
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
      &kp     APOS &kp    COMMA &kp   PERIOD &kp        P &kp        Y                   &kp        F &kp        G &kp        C &kp        R &kp        L
      &kp        A &kp        O &kp        E &kp        U &kp        I                   &kp        D &kp        H &kp        T &kp        N &kp        S
      &key_repeat  &kp        Q &kp        J &kp        K &kp        X                   &kp        B &kp        M &kp        W &kp        V &kp        Z
                                             &mo    LOWER &kp SPACE    &none      &none  &kp   LSHIFT &mo    UPPER
      >;
    };

    lower_layer {
      bindings = <
      &kp LAUNCHER &kp  RCS_TAB &kp      TAB &kp  CTL_TAB &none                          &none        &none        &kp       UP &kp     BSPC &none
      &sk     LALT &sk     LGUI &sk    LCTRL &sk   LSHIFT &none                          &none        &kp     LEFT &kp     DOWN &kp    RIGHT &kp    ENTER
      &kp   LA(N1) &kp   LA(N2) &kp   LA(N3) &kp   LA(N4) &kp   LA(N5)                   &none        &none        &none        &none        &none
                                             &trans       &sl   SYSTEM &none      &none  &trans       &trans
      >;
    };

    upper_layer {
      bindings = <
      &kp    QMARK &kp  PERCENT &kp   ESCAPE &kp    COLON &kp       AT                   &none        &none        &kp    CARET &kp    TILDE &kp    GRAVE
      &kp     EXCL &kp     PLUS &kp    MINUS &kp    EQUAL &kp     HASH                   &none        &kp     LPAR &kp    UNDER &kp     RPAR &kp     SEMI
      &none        &kp   DOLLAR &kp ASTERISK &kp    SLASH &none                          &none        &kp     PIPE &kp     AMPS &kp     BSLH &none
                                             &trans       &trans       &none      &none  &sl   SYSTEM &trans
      >;
    };

    adjust_layer {
      bindings = <
      &none        &kp       N7 &kp       N8 &kp       N9 &none                          &none        &kp     LBKT &none        &kp     RBKT &none       
      &none        &kp       N4 &kp       N5 &kp       N6 &none                          &none        &kp   LSHIFT &kp    LCTRL &kp     LGUI &kp     LALT
      &none        &kp       N1 &kp       N2 &kp       N3 &none                          &none        &kp     LBRC &kp       N0 &kp     RBRC &none
                                             &trans       &trans       &none      &none  &trans       &trans
      >;
    };

    special_layer {
      bindings = <
      &none        &bt BT_SEL 3 &bt BT_SEL 2 &bt BT_SEL 1 &bt BT_SEL 0                   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &none
      &none        &none        &none        &none        &bt   BT_CLR                   &bt   BT_CLR &none        &none        &none        &none
      &none        &bt   BT_PRV &none        &bt   BT_NXT &bootloader                    &bootloader  &bt   BT_PRV &none        &bt   BT_NXT &none
                                             &none        &none        &none      &none  &none        &none
      >;
    };

  };

};
