/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define NAV 1
#define SYMBOLS 2
#define NUMBERS 3
#define SPC_NAV 4
#define SPECIAL 5

#define LAUNCHER (LG(SPACE))
#define NEW_TAB (LG(T))
#define NEW_WIN (LG(N))
#define CLOSE (LG(W))
#define CTRL_TAB (LC(TAB))
#define C_S_TAB (LC(LS(TAB)))
#define ELLIPSIS (LA(SEMICOLON))

#define SPC_PREVIOUS (LC(LA(LEFT)))
#define S_PRV SPC_PREVIOUS

#define SPC_NEXT (LC(LA(RIGHT)))
#define S_NXT SPC_NEXT

#define SPC_FOCUS_PREVIOUS (LC(LA(J)))
#define S_F_PRV SPC_FOCUS_PREVIOUS

#define SPC_FOCUS_NEXT (LC(LA(K)))
#define S_F_NXT SPC_FOCUS_NEXT

#define SPC_CYCLE_MODE (LC(LA(SPACE)))
#define S_CYCLE SPC_CYCLE_MODE

#define SPC_PROMOTE (LC(LA(ENTER)))
#define S_PROMO SPC_PROMOTE

#define SPC_PANE_SHRINK (LC(LA(H)))
#define S_SHRINK SPC_PANE_SHRINK

#define SPC_PANE_GROW (LC(LA(L)))
#define S_GROW SPC_PANE_GROW

#define SPC_PANE_COUNT_INCREASE (LC(LA(PERIOD)))
#define S_PC_INC SPC_PANE_COUNT_INCREASE

#define SPC_PANE_COUNT_DECREASE (LC(LA(COMMA)))
#define S_PC_DEC SPC_PANE_COUNT_DECREASE

&sk {
  release-after-ms = <2000>;
  quick-release;
};

/ {

  chosen {
    zmk,battery = &vbatt;
  };

  vbatt: vbatt {
      compatible = "zmk,battery-nrf-vddh";
      label = "VBATT";
  };

  conditional_layers {
      compatible = "zmk,conditional-layers";
      tri_layer {
          if-layers = <1 2>;
          then-layer = <3>;
      };
  };

  behaviors {
      td0: tap_dance_smart_shift {
          compatible = "zmk,behavior-tap-dance";
          label = "TAP_DANCE_SMART_SHIFT";
          #binding-cells = <0>;
          tapping-term-ms = <200>;
          bindings = <&sk LSHIFT>, <&caps_word>;
      };
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
      &kp     APOS &kp    COMMA &kp   PERIOD &kp        P &kp        Y                   &kp        F &kp        G &kp        C &kp        R &kp        L
      &kp        A &kp        O &kp        E &kp        U &kp        I                   &kp        D &kp        H &kp        T &kp        N &kp        S
      &kp    UNDER &kp        Q &kp        J &kp        K &kp        X                   &kp        B &kp        M &kp        W &kp        V &kp        Z
                                             &mo      NAV &td0         &none      &none  &kp    SPACE &mo  SYMBOLS
      >;
    };

    nav_layer {
      bindings = <
      &sl  SPECIAL &kp  C_S_TAB &kp      TAB &kp CTRL_TAB &tog SPC_NAV                   &tog SPC_NAV &kp     HOME &kp       UP &kp      END &kp     BSPC
      &sk     LALT &sk   LSHIFT &sk    LCTRL &sk     LGUI &none                          &none        &kp     LEFT &kp     DOWN &kp    RIGHT &kp    ENTER
      &kp    S_PRV &kp    S_NXT &kp    LG(C) &kp    LG(V) &kp LAUNCHER                   &kp LAUNCHER &none        &none        &none        &none
                                             &mo      NAV &kp   LSHIFT &none      &none  &kp    SPACE &mo  SYMBOLS
      >;
    };

    symbols_layer {
      bindings = <
      &kp   ESCAPE &kp  PERCENT &kp    QMARK &kp    COLON &kp       AT                   &kp    CARET &kp     LPAR &kp     RPAR &kp     SEMI &sl  SPECIAL
      &kp     EXCL &kp     PLUS &kp    MINUS &kp    EQUAL &kp     HASH                   &kp ELLIPSIS &sk     LGUI &sk    LCTRL &sk   LSHIFT &sk     LALT
      &kp    TILDE &kp   DOLLAR &kp ASTERISK &kp    SLASH &kp     AMPS                   &kp     PIPE &kp     LBRC &kp     RBRC &kp     BSLH &kp    GRAVE
                                             &trans       &trans       &none      &none  &trans       &trans
      >;
    };

    numbers_layer {
      bindings = <
      &kp       N7 &kp       N5 &kp       N3 &kp       N1 &kp       N9                   &kp       N8 &kp       N0 &kp       N2 &kp       N4 &kp       N6
      &kp     LALT &kp   LSHIFT &kp    LCTRL &kp     LGUI &none                          &none        &kp     LGUI &kp    LCTRL &kp   LSHIFT &kp     LALT
      &none        &none        &kp    COMMA &kp   PERIOD &none                          &none        &kp     LBKT &kp     RBKT &none        &none
                                             &trans       &trans       &none      &none  &trans       &trans
      >;
    };

    spc_nav_layer {
      bindings = <
      &none        &kp  S_CYCLE &kp S_PC_INC &kp S_PC_DEC &tog SPC_NAV                   &tog SPC_NAV &kp S_PC_DEC &kp S_PC_INC &kp  S_CYCLE &none
      &none        &kp  S_PROMO &kp   S_GROW &kp S_SHRINK &none                          &none        &kp S_SHRINK &kp   S_GROW &kp  S_PROMO &none
      &none        &none        &kp  S_F_NXT &kp  S_F_PRV &none                          &none        &kp  S_F_PRV &kp  S_F_NXT &none        &none
                                             &none        &kp   LSHIFT &none      &none  &kp   LSHIFT &none
      >;
    };

    special_layer {
      bindings = <
      &none        &bt BT_SEL 3 &bt BT_SEL 2 &bt BT_SEL 1 &bt BT_SEL 0                   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &none
      &none        &kp  NEW_WIN &kp  NEW_TAB &none        &bt   BT_PRV                   &bt   BT_NXT &none        &kp  NEW_TAB &kp  NEW_WIN &none
      &bt   BT_NXT &bt   BT_PRV &kp    CLOSE &bt   BT_CLR &bootloader                    &bootloader  &bt   BT_CLR &kp    CLOSE &bt   BT_PRV &bt   BT_NXT
                                             &kp LAUNCHER &none        &none      &none  &none        &kp LAUNCHER
      >;
    };

  };

};
