# Copyright (c) 2022, Peter Johanson
# Copyright (c) 2024, Nicolas Munnich
# Copyright (c) 2024, Charly Delay <0@0xcharly.com>
# SPDX-License-Identifier: Apache-2.0

if BOARD_RP2040_CE

config BOARD
	default "rp2040_ce"

config RP2_FLASH_W25Q080
	default y

if I2C_DW

config I2C_DW_CLOCK_SPEED
	default 125

endif #I2C_DW

config USB_SELF_POWERED
	default n

endif # BOARD_RP2040_CE
