# Copyright (c) 2026 Charly Delay
# SPDX-License-Identifier: MIT

config SHIELD_SKELETYL
    def_bool $(shields_list_contains,skeletyl)

config SHIELD_SKELETYL_LEFT
    def_bool $(shields_list_contains,skeletyl_left)

config SHIELD_SKELETYL_RIGHT
    def_bool $(shields_list_contains,skeletyl_right)
